spring:
  application:
    name: mini-jira
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=mini-jira;encrypt=false;trustServerCertificate=true
    username: sa
    password: StrongPass123!
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.SQLServerDialect
